* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #34547a;
    --white: #ffffff;
    --black: #000000;
    --grey-dark: #727272;
    --grey-light: #eeeff1;
    --font-size:16px;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth@0,75..100;1,75..100&display=swap');


}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,500;1,75..100,500&display=swap');
}
h1 h2 h3{
    font-weight: 500;
}
h1{
    line-height: 1.64;
}
h2{
    line-height: 1;
}
h3{
    font-size: 1.3125rem;
}
p{
    font-family: "Roboto", sans-serif;
    width: 400px;
    line-height: 1.64;
    font-size: 1rem;
}
.text-center {
    text-align: center;
}
.header{
    background-color: var(--grey-light);
    padding: 79px 0 141px 0;
}
.container{
    max-width: 1120px;
    margin-inline: auto;

}
html {
    font-size: var(--font-size);
    font-family: "Roboto", sans-serif;
}
.navigation{
    text-transform: uppercase;
}

a{
    text-decoration: none;
}
nav{
text-transform: uppercase;
}
button{
    border: none;
    cursor: pointer;
}
.description {
    width: 540px;
    color: var(--grey-dark);
}
.header__title{
    margin-top: 146px;
    margin-bottom: 30px;
    color: var(--black);
}
.header__description{}
.header__btn{
    background-color: var(--primary-color);
    color: var(--white);
    width: 225px;
    height: 65px;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-top: 65px;
}
/*navigation*/
.navigation__list{
    display: flex;}
ul{
    list-style: none;
    line-height: 1.64;

}
.navigation__item{}
.navigation__item--active .navigation__link {
    color: var(--primary-color);
}
.navigation__link{
    color: var(--black);
    font-size: var(--font-size);
    font-weight: 400;
    letter-spacing: 2px;
}
.navigation__item:first-child {
    padding-right: 25px;
}
.navigation__item ~ .navigation__item {
    padding: 0 25px;
}

/*About me*/
.About {
    padding: 112px 0 100px 0;
}
    .About__title {
        margin-bottom: 50px;
        color: var(--black);

    }
.About__description {
    margin: 0 auto;
}
.Works{
    background: var(--primary-color);

    padding: 100px 0 100px 0;
}
.container__project{
}



