* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #34547a;
    --white: #ffffff;
    --black: #000000;
    --grey-dark: #727272;
    --grey-light: #eeeff1;
    --font-size:16px;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth@0,75..100;1,75..100&display=swap');


}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,500;1,75..100,500&display=swap');
}
h1 h2 h3{
    font-weight: 500;
}
h1{
    line-height: 1.64;
}
h2{
    line-height: 1;
}
h3{
    font-size: 1.3125rem;
}
p{
    font-family: "Roboto", sans-serif;
    width: 400px;
    line-height: 1.64;
    font-size: 1rem;
}
.text-center {
    text-align: center;
}
.header{
    background-color: var(--grey-light);
    padding: 79px 0 141px 0;
}
.container{
    max-width: 1120px;
    margin-inline: auto;

}
html {
    font-size: var(--font-size);
    font-family: "Roboto", sans-serif;
}
.navigation{
    text-transform: uppercase;
}

a{
    text-decoration: none;
}
nav{
text-transform: uppercase;
}
button{
    border: none;
    cursor: pointer;
}
.description {
    width: 540px;
    color: var(--grey-dark);
}
.header__title{
    margin-top: 146px;
    margin-bottom: 30px;
    color: var(--black);
}
.header__description{}
.header__btn{
    background-color: var(--primary-color);
    color: var(--white);
    width: 225px;
    height: 65px;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-top: 65px;
}
/*navigation*/
.navigation__list{
    display: flex;}
ul{
    list-style: none;
    line-height: 1.64;

}
.navigation__item{}
.navigation__item--active .navigation__link {
    color: var(--primary-color);
}
.navigation__link{
    color: var(--black);
    font-size: var(--font-size);
    font-weight: 500;
    letter-spacing: 2px;

}
.navigation__item:first-child {
    padding-right: 25px;
}
.navigation__item ~ .navigation__item {
    padding: 0 25px;
}

/*About me*/
.About {
    padding: 112px 0 100px 0;
}
    .About__title {
        margin-bottom: 50px;
        color: var(--black);

    }
.About__description {
    margin: 0 auto;
}



/*progekt*/
.Works{
    background: var(--primary-color);

    padding: 100px 0 100px 0;
}
.container__project{

    display: flex;
}
.card{

}
.container__project__cart{
    width: 140px;
    height: 50px;

    display: flex;
    margin: 0 auto;
}
.project__card__info{
    color: var(--white);

    flex-direction: column;
    padding: 3px 0 3px 20px;

}
.progect__cart__amount{
    font-size: 1.3125rem;
    font-weight: 500;
    line-height: 1;

}
.progect__card__name{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.64;
}

/*process */

.container__process{
    padding-top: 100px;
    padding-bottom: 100px;
}
.process__title{
    color: var(--black);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;

}
.process__description{
    margin: 0 auto;
    padding-top:50px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.64;
    padding-bottom: 57px;
}
.process__images__video{
    width: 1110px;
   height: 600px;
    display: flex;
    margin: 0 auto;


}
.process__image__background{
    width:100%;
    height:100%;

}
.process__image__play_button{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    display: flex;

}



